<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>지난 일기 보기</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/diary/show.css}">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="user-info">
            <span class="user-avatar">
                <img src="/placeholder-user.jpg" alt="User" />
            </span>
      <div class="user-name" th:text="${user1.name}">User1</div>
    </div>
    <div class="title">Diary Exchange</div>
    <div class="user-info">
            <span class="user-avatar">
                <img src="/placeholder-user.jpg" alt="User" />
            </span>
      <div class="user-name" th:text="${user2.name}">User2</div>
    </div>
  </div>
  <div class="entries" th:each="diary : ${diaryList}">
    <div class="entry">
      <img th:src="${diary.imgFile}" alt="Entry Image" class="entry-image" />
      <div class="entry-title" th:text="${diary.title}">제목</div>
      <div class="entry-content">
        <p th:utext="${diary.content}">내용</p>
      </div>
      <div class="entry-audio">
        <audio controls th:src="${diary.music_url}"></audio>
      </div>
    </div>
  </div>
</div>
</body>
</html>
