<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <script type="module" th:src="'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'"></script>
    <script nomodule th:src="'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="title">본인인증</h1>
        <p class="subtitle">이메일을 통해 본인인증을 합니다.</p>
    </div>
    <form class="form" th:action="@{/user/update}" method="post">
        <div class="form-group">
            <div class="input-group">
                <label for="email"><ion-icon name="mail-outline"></ion-icon>  이메일</label>
                <input id="email" type="email" name="username" placeholder="example@email.com" th:required="true">
                <p class="help-text">이메일을 입력해주세요.</p>
            </div>
            <div class="input-group">
                <label for="code"><ion-icon name="mail-outline"></ion-icon> 코드</label>
                <input id="code" name="text" type="text" required>
                <p class="help-text">변경하실 비밀번호를 입력해주세요.</p>
            </div>
        </div>
        <button type="submit" class="submit-button">확인</button>
    </form>
</div>
</body>
</html>
