<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <script type="module" th:src="'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'"></script>
    <script nomodule th:src="'https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="title">비밀번호 변경</h1>
        <p class="subtitle">비밀번호를 변경합니다.</p>
    </div>
    <form class="form" th:action="@{/user/update}" method="post">
        <div class="form-group">
            <div class="input-group">
                <label for="email"><ion-icon name="mail-outline"></ion-icon> 비밀번호</label>
                <input id="email" name="email" type="email" placeholder="example@email.com" th:value="${user.email}" disabled>
                <p class="help-text">변경하실 비밀번호를 입력해주세요.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label for="name"><ion-icon name="person-outline"></ion-icon> 비밀번호 확인</label>
                <input id="name" type="text" name="name" placeholder="홍길동" th:value="${user.name}" required>
                <p class="help-text">한번더 입력해 주세요.</p>
            </div>
        </div>
        <button type="submit" class="submit-button">변경</button>
    </form>
</div>
</body>
</html>
