<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/css/diary/calendar.css}">
    <link rel="stylesheet" th:href="@{/css/diary/menu.css}">
    <link rel="stylesheet" th:href="@{/css/diary/index.css}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>너의 하루</title>
</head>
<body>
<div class="container">
    <div th:replace="~{layout/calender :: calendarFragment(user=${user}, matchingHistoryId=${matchingHistoryId})}"></div>
    <div class="container-right">
        <div class="header">
            <h1 class="title" id="title"></h1>

            <button class="btn-new-entry" th:if="${!hasTodayDiary}" onclick="location.href='/diary/write'">오늘의 일기 쓰기</button>
        </div>
        <div class="entries">
            <div class="entry-list" th:each="diary : ${diaryList} " th:onclick="'window.location.href=\'/diary/show/' + ${diary.id} + '\';'">
                <div class="entry-header">
                    <h3 class="entry-title" th:text="${diary.subject}"></h3>
                    <p class="entry-date" th:text="${#strings.substring(diary.date, 0, 10)}"></p>
                </div>
                <div class="entry-content">
                    <p th:text="${diary.content.length() > 50 ? #strings.substring(diary.content, 0, 50) + '.....' : diary.content}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/calender/calender.js}"></script>
<script th:src="@{/js/calender/menu.js}"></script>
</body>
</html>