.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 30px;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.entry-form {
    border-radius: 10px;
    border: 1px solid rgb(230, 212, 182);
    background-color: rgb(230, 212, 182);
    padding: 20px;
}


.form-group {
    margin-bottom: 15px;
}

.label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.input,
.textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textarea {
    min-height: 200px;
    resize: vertical;
}

.mood-button {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.submit-button {

    width: 120px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #f4a258;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.submit-button:hover {
    background-color: #da771e;
}

.submit-button:active{
    transform: translateY(4px);
    box-shadow: 0 0 0 1px #da771e inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.button-container {
    display: flex; /* Display buttons side by side */
    justify-content: flex-end; /* Align buttons to the right */
    gap: 10px; /* Add space between buttons */
}
.cancel-button{
    width: 120px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    color: #070707;
    background-color: #c5c4c4;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

/*추가*/
.form-group-horizontal {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.filebox, .search-container {
    flex: 1;
    margin-right: 10px; /* 파일찾기와 서치창 사이 간격 조정 */
    display: flex;
    align-items: center;
}


.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 70%;
    color: #999999;
    flex-grow:1 ;
    border-radius: 4px;
    font-size: 14px;
}


.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #f4a258;
    cursor: pointer;
    height: 40px;
    line-height: 20px;
    white-space: nowrap;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.search-container {
    display: flex;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    height: 40px;
    border: 1px solid #ccc;
    padding: 0 12px;
    font-size: 14px;
    border-radius: 4px;
}

.search-button {
    height: 40px;
    border: none;
    background-color: #93dac9;
    color: #fff;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    box-sizing: border-box;
}

.search-button:hover {
    background-color: #21c59d;
}

