/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
}

/* Basic styles for the container */
.container-right {
    background-color: #ede2d1;
    width: 67%; /* 변경된 부분 */
    padding: 40px;
    max-height: 100vh; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scroll */
}

/* Hide scrollbar */
.container-right::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.container-right {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.user-name{
    padding: 10px;
}

.year-month{
    padding-bottom: 20px;
    margin-left: 22%;
}

/* Styles for the header section */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-new-entry {
    padding: 10px 20px;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(206, 126, 97);
    color: rgb(235, 224, 207);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* :hover 상태에서 배경색이 변하지 않도록 설정 */
.btn-new-entry:hover {
    background-color: rgb(227, 186, 168); /* 원래 배경색으로 설정 */
}
/* Styles for individual diary entries */
.entries {
    display: grid;
    gap: 20px;
    padding: 10px;
}

/* Continuation of index.css */

/* Styles for individual diary entries */
.entry-list {
    border-radius: 10px;
    /*border: 2px solid rgb(144, 122, 86);*/
    background-color: rgb(230, 212, 182);
    padding: 20px;
    cursor: pointer;
}

.entry-header {
    margin-bottom: 10px;
}

.entry-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.entry-date {
    font-size: 0.875rem;
    color: #718096;
}

.entry-content {
    line-height: 1.6;
}
