/* 공통 색상 변수 정의 */
:root {
    --white: #ffffff;
    --lightgray: #E8E8E8FF;
    --gray: #e6e6e6;
    --darkgray: #808080;
}

.modal {
    display: none; /* 기본적으로 모달을 숨긴다. */
    position: fixed; /* 페이지 내에 위치를 고정시킨다.*/
    z-index: 1; /* 다른 요소들의 가장 위에 배치 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 가로 페이지 100%*/
    height: 100%; /* 전체 세로 페이지 100% */
    background-color: rgba(0,0,0,0.4); /* 모달의 동영상을 보여주는 부분 제외 검은 배경 */
}

.modal-content {
    background-color: #fefefe; /*동영상을 보여주는 div의 배경색*/
    margin: 15% auto; /* 상단에서부터 15% 떨어진 중앙에 위치한다.*/
    padding: 20px; /* div 주변에 여백 20px을 준다.*/
    border: 1px solid #888; /*테두리 스타일*/
    width: 40%; /* 동영상 화면의 크기에 맞게 화면의 너비 조정 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 프로그레스 바 컨테이너 스타일 */
.music_progress {
    flex-grow: 1;
    height: 5px;
    background: var(--gray);
    cursor: pointer;
    margin: 0 0px;
    position: relative;
    border-radius: 30px;
}

/* 프로그레스 바 스타일 */
.music_progress .bar {
    width: 100%;
    height: 100%;
    background: var(--darkgray);
    border-radius: 30px;
}

/* 타이머 스타일 */
.music_progress .timer {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    font-size: 12px;
}

.music_progress .timer span {
    color: var(--darkgray);
}

/* 컨트롤 버튼 스타일 */
.music_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-top: 10px;*/
}

/* 재생/일시정지 버튼 스타일 */
.music_control .play-pause {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: none;
    color: var(--darkgray);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.music_control .play-pause i {
    font-size: 20px;
}

.wrap_music {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 100%;
    margin-top: auto;
    border-radius: 40px;
}

.music_inner {
    width: 300px;
    padding: 10px 15px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background: var(--lightgray);
}

/* 음표, 재생/일시정지 버튼과 프로그레스 바의 배치를 위해 수정 */
.music_controls {
    display: flex;
    align-items: center;
}
