body {
    background-color: #FCF3E3;
    margin: 0;
    padding: 0;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    height: 100%;  /* Make the container fill the viewport height */
    max-height: 800px;
    background-color: #f4a258;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 10px 13px rgba(0, 0, 0, 0.5);
    padding: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}

.back-button {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%) translateX(150%);
    cursor: pointer;
}

.custom-icon {
    width: auto;
    height: auto;
    contain: none;
    margin-top: 3px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-avatar {
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    color: #ffffff;
    font-weight: 700;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.entries {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 800px;
    height: 100%;
    gap: 16px;
}

.entry {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.entry-image {
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    width: 100%;
    height: 200px;
}

.entry-title {
    color: #4b4b4b;
    font-weight: 500;
}

.entry-content {
    color: #6b6b6b;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-line;
    overflow-y: auto;
    overflow-x: hidden; /* Explicitly hide horizontal overflow */
    max-height: 400px;
    width: 330px;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word; /* Ensure long words break and wrap to the next line */
    overflow-wrap: break-word; /* Ensure long words break and wrap to the next line */
}

.entry-content::-webkit-scrollbar {
    width: 10px;
}

.entry-content::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120);
    border-radius: 10px;
}

.entry-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.entry-content p {
    margin: 0;
}

.entry-audio {
    margin-top: auto;
}

.entry-audio audio {
    width: 100%;
}
